.motd {
	margin: 10%;
	font-family: 'Montserrat', sans-serif;
}

.largeText {
	font-size: 64px;
	font-weight: 900;
}

.wrapper {
	font-family: 'Montserrat', sans-serif;
}

.services {
	display: grid;
	grid-template: 50% 50% / auto auto;
	background: #ff6052;
	color: #fff;
}

.service {
	padding: 64px 32px;
}

/* child elements of ".service" 
--------------------------------------------------------*/

.service p {
	font-family: 'Roboto mono', monospace;
	margin: 16px 0 0 0;
}

.getStarted {
	background: #222;
	color: #fff;
	padding: 64px;
	text-align: center;
}

/* child elements of ".getStarted"
---------------------------------------------------------*/

.getStarted p {
	text-align: center;
	padding: 0 0 32px 0;
}

.getStarted form input,
.getStarted form button {
	padding: 8px 16px;
	border: none;
	background: none;
}

.getStarted form input {
	background: #fff;
	border-top-left-radius: 0.9rem;
	border-bottom-left-radius: 0.9rem;
}

.getStarted form button {
	background: #ff6052;
	color: #fff;
	border-top-right-radius: 0.9rem;
	border-bottom-right-radius: 0.9rem;
}

.getStarted h1 {
	/* This is used as a splitter */
	padding: 32px 0;
}

/* child elements of ".motd"
----------------------------------------*/

.motd p {
	font-family: 'Roboto mono', monospace;
	line-height: 32px;
	width: 512px;
	margin: 32px 0;
}

.motd h1 {
	color: #ff6052;
}

@media only screen and (max-width: 720px) {
	.services {
		display: block;
	}
}
