.motd {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 10%;
	font-family: 'Montserrat', sans-serif;
}

.body {
	margin: 4em 0 0 0;
}

.largeText {
	font-size: 64px;
	font-weight: 900;
}

#homeLogo {
	width: 35%;
	position: absolute;
	top: .05em;
	right: 0;
}

.body a,
.body a:link,
.body a:visited {
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	background: #ff6052;
	padding: 16px 32px;
	margin: 16px 0 0 0;
	-webkit-transition: all .2s;
	transition: all .5s;
	cursor: pointer;
}
.body a:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.body a:hover::after {
	-webkit-transform: scaleX(1.4) scaleY(1.6);
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.body a:active,
.body a:focus {
	outline: none;
	-webkit-transform: translateY(-1px);
	transform: translateY(-1px);
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* child elements of ".motd"
----------------------------------------*/

.motd p {
	font-family: 'Roboto mono', monospace;
	line-height: 32px;
	width: 512px;
	margin: 32px 0;
}

.motd h1 {
	color: #ff6052;
}

@media only screen and (max-width: 720px) {
	#homeLogo {
		display: none;
	}
}
