$primary: #FF6052;
$secondary: #37FABE;
$complement: #FFBEB3;

.about-container {
    .motd {
        text-align: center;
        padding: 20% 0;
        h1 {
            color: $primary;
        }
    }
}