/*
PLEASE USE LIVE SASS COMPILER

PLEASE ADD THESE SETTINGS TO YOUR "settings.json"

"liveSassCompile.settings.generateMap": false,
"liveSassCompile.settings.formats": [
    {
        "format": "compressed",
        "extensionName": ".min.css",
        "savePath": null
    }
]

Those settings are to help save up on size of the website;
"liveSassCompile.settings.generateMap": false, dosnt save a map file for live sass compiler.
"liveSassCompile.settings.formats" is used with the "format" setting set to compressed to 'minify' the compiled css file.
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono&display=swap');

/* SASS COLORS */
$primary: #FF6052;
$secondary: #37FABE;
$complement: #FFBEB3;
/* SASS COLORS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';

    outline: none;
}
.AppHeader {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background: $primary;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    //border-radius: 0px 0px 16px 16px;
    z-index: 999;
    img {
        width: 64px;
        margin: 0px 16px;
    }
    nav {
        ul {
            display: flex;
            justify-content: space-around;
            li {
                list-style: none;
                height: 100%;
                text-align: center;
                a {
                    display: block;
                    color: #fff;
                    padding: 8px 32px;
                    margin: 16px;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 900;
                }
                .storeButton {
                    border: 2px solid $complement;
                }
            }
        }
    }
    .appheader-item-noPadding {
        padding: 0;
        a {
            padding: 0;
        }
    }
}
.container { // Every style here is optomized for 1920x1080p displays!
    .largeText {
        font-size: 64px;
        font-weight: 900;
        padding: 32px 0;
    }
    .home-container { // this is the master-parent of the home page
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -999;
        .motd {
            padding: 20% 50% 0 10%;
            h1 {
                color: $primary;
            }
            p {
                font-size: 16px;
                font-family: 'Roboro mono', monospace;
                line-height: 32px;
                padding: 16px 0;
            }
            .ctaButton {
                display: inline-block;
                padding: 8px 16px;
                margin: 16px 0;
                border-radius: 32px;
                background: $primary;
                text-decoration: none;
                color: #fff;
            }
        }
        img {
            position: absolute;
            top: 15%;
            right: 10%;
            z-index: -1;
        }
    }
    .store-container {
        img {
            position: absolute;
            top: 15%;
            right: 10%;
            z-index: -999;
        }
        .loginSeciton {
            padding: 126px 32px;
            margin: 32px 0 0 128px;
            width: 512px;
            border-radius: 0px 16px 16px 0px;
            h1 {
                color: $primary;
            }
            #logIn {
                padding: 16px 0px 0px 0px;
                input {
                    display: block;
                    width: 100%;
                    margin: 16px auto;
                    padding: 4px;
                    border: none;
                    border-bottom: 2px solid $secondary;
                    background: none;
                }
                button {
                    padding: 8px 16px;
                    margin: 0 16px 0 0;
                    background: $primary;
                    color: #fff;
                    border: none;
                }
                #signUp {
                    background: none;
                    color: $secondary;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }
    }
    .signupSection-closed {
        transform: scale(1, 1);
        display: none;
    }
    .signupSection-open {
        transform: scale(1, 1);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        .backgroundBlur {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.4);
        }
        h1 {
            padding: 16px 0px;
        }
        #signUp {
            animation: open .4s forwards;
            position: absolute;
            top: 5%;
            right: 25%;
            bottom: 5%;
            left: 25%;
            padding: 5%;
            background: #fff;
            input {
                display: block;
                width: 100%;
                margin: 0px 0px 32px 0px;
                padding: 4px;
                border: none;
                border-bottom: 2px solid $secondary;
                background: none;
            }
            button {
                padding: 8px 16px;
                margin: 0 16px 0 0;
                background: $primary;
                color: #fff;
                border: none;
            }
            #cancel {
                background: none;
                color: $primary;
                font-size: 14px;
                cursor: pointer;
            }
            #userAgreement {
                display: inline-block;
                width: auto;
            }
        }
    }
}

/*
*
* All animations should be saved under this line!
*
*/

@keyframes open {
    0% {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}