@import url("https://fonts.googleapis.com/css?family=Open+Sans:100|Roboto+Mono&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.App__Container {
  background: linear-gradient(45deg, #6fd6ff, #73ffea);
  font-family: "Open Sans", sans-serif;
  color: #222;
}

.App__Container a {
  text-decoration: none;
  color: #222;
  display: inline-block;
}

.App__Container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
}

.App__Container ul li {
  list-style-type: none;
}

.App__Container ul img {
  display: inline;
  width: 64px;
}

.App__Container .client__button {
  display: inline-block;
  padding: 8px 16px;
  margin: 16px 0;
  background: #6fd6ff;
  border-radius: 4px;
}

.App__Container .motd {
  text-align: center;
  margin: 128px 0 256px 0;
}

.App__Container .large__text {
  font-size: 128px;
  font-weight: 800;
  border-bottom: 4px solid #f1f1f1;
  padding: 16px 0px 16px 0px;
  margin: 16px 0px 16px 0px;
  display: inline-block;
}

.App__Container .motd__textBody {
  font-size: 32px;
  width: 800px;
  margin: auto;
}

.App__Container .about__textBody {
  text-align: left;
  width: 1024px;
  margin: auto;
  padding: 32px 0 32px 0;
}

.App__Container .about__textBody h1 {
  border-bottom: 4px solid #f1f1f1;
  width: 512px;
  margin: 16px;
  font-size: 64px;
}

.App__Container .about__textBody p {
  line-height: 64px;
}

.App__Container #services__wrapper {
  text-align: center;
  padding: 256px 0;
}

.App__Container #services__wrapper .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.App__Container #services__wrapper .service__item {
  padding: 32px;
  background: #f1f1f1;
  width: 512px;
  border-radius: 4px;
}

.App__Container #services__wrapper .item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 4px solid #222;
  padding: 0 0 16px 0;
}

.App__Container #services__wrapper .item__head h1 {
  font-size: 32px;
  font-weight: 800;
  margin: 32px 0 0 0;
}

.App__Container #services__wrapper p {
  padding: 16px 0;
  line-height: 32px;
}

.App__Container .getStarted__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template: "a b" "c c";
}

.App__Container .getStarted__wrapper .getStarted__left {
  grid-area: a;
  padding: 64px 8px;
}

.App__Container .getStarted__wrapper .getStarted__left p {
  line-height: 64px;
  font-size: 20px;
}

.App__Container .getStarted__wrapper .getStarted__right {
  grid-area: b;
}

.App__Container .getStarted__wrapper .getStarted__right form {
  display: -ms-grid;
  display: grid;
  grid-template: "a b" "c c" "d d";
  grid-gap: 16px;
  padding: 64px 8px;
}

.App__Container .getStarted__wrapper .getStarted__right form input {
  width: 512px;
  padding: 8px;
  background: none;
  border: none;
  border-bottom: 4px solid #fff;
}

.App__Container .getStarted__wrapper .getStarted__right form input::-webkit-input-placeholder {
  font-weight: 800;
}

.App__Container .getStarted__wrapper .getStarted__right form input:-ms-input-placeholder {
  font-weight: 800;
}

.App__Container .getStarted__wrapper .getStarted__right form input::-ms-input-placeholder {
  font-weight: 800;
}

.App__Container .getStarted__wrapper .getStarted__right form input::placeholder {
  font-weight: 800;
}

.App__Container .getStarted__wrapper .getStarted__right form textarea {
  padding: 8px;
  height: 512px;
  border: none;
}

.App__Container .getStarted__wrapper .getStarted__right form textarea::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.App__Container .getStarted__wrapper .getStarted__right form textarea:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.App__Container .getStarted__wrapper .getStarted__right form textarea::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.App__Container .getStarted__wrapper .getStarted__right form textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.App__Container .getStarted__wrapper .getStarted__right form button {
  width: 128px;
  padding: 8px;
  background: #f1f1f1;
  border: none;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.App__Container .getStarted__wrapper .getStarted__footer {
  grid-area: c;
  background: #222;
  color: #fff;
  padding: 32px;
}

.App__Container .getStarted__wrapper .getStarted__footer hr {
  border: none;
  border-bottom: 4px solid #fff;
  margin: 8px 0;
}

.App__Container .getStarted__wrapper .getStarted__footer ul {
  display: block;
}

.App__Container .getStarted__wrapper .getStarted__footer ul a {
  color: #fff;
  line-height: 64px;
}

.App__Container .getStarted__wrapper .getStarted__footer ul a:hover {
  text-decoration: underline;
}

.App__Container .client__wrapper {
  text-align: center;
}

.App__Container .client__wrapper .client__motd {
  margin: 64px 0;
}

.App__Container .client__wrapper form {
  width: 512px;
  height: 512px;
  margin: auto;
}

.App__Container .client__wrapper input {
  padding: 8px 16px;
  display: block;
  width: 512px;
  margin: 32px auto;
  background: none;
  border: none;
  border-bottom: 4px solid #f1f1f1;
}

.App__Container .client__wrapper input::-webkit-input-placeholder {
  color: #222;
  font-family: "Open Sans", sans-serif;
}

.App__Container .client__wrapper input:-ms-input-placeholder {
  color: #222;
  font-family: "Open Sans", sans-serif;
}

.App__Container .client__wrapper input::-ms-input-placeholder {
  color: #222;
  font-family: "Open Sans", sans-serif;
}

.App__Container .client__wrapper input::placeholder {
  color: #222;
  font-family: "Open Sans", sans-serif;
}

.App__Container .client__wrapper button {
  padding: 8px 16px;
  background: #f1f1f1;
  border: none;
  border-radius: 4px;
  float: right;
}

.App__Container .policy__wrapper h1 {
  font-size: 32px;
  font-weight: 800;
  padding: 0 0 16px 0;
  margin: 0 0 16px 0;
  border-bottom: 2px solid #222;
}

.App__Container .policy__wrapper .policy__body {
  width: 1024px;
  margin: 64px auto;
  background: #f1f1f1;
  border-radius: 4px;
  padding: 32px;
}

.App__Container .app__footer {
  background: #222;
  padding: 32px;
  color: #f1f1f1;
  text-align: left;
}

.App__Container .app__footer ul {
  display: block;
}

.App__Container .app__footer a {
  color: #fff;
  line-height: 64px;
}
