$primary: #FF6052;
$secondary: #37FABE;
$complement: #FFBEB3;


.home-container { // this is the master-parent of the home page
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -999;

    .motd {
        padding: 16% 50% 0 10%;

        h1 {
            color: $primary;
        }

        p {
            font-size: 16px;
            font-family: 'Roboro mono', monospace;
            line-height: 32px;
            padding: 16px 0;
        }

        .ctaButton {
            display: inline-block;
            padding: 8px 16px;
            margin: 16px 0;
            border-radius: 32px;
            background: $primary;
            text-decoration: none;
            color: #fff;
        }
    }

    img {
        position: absolute;
        top: 20%;
        right: 5%;
        z-index: -1;
        width: 35%;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    }
}

@media only screen and (max-width: 1280px) {

    .home-container {

        .motd {
            padding: 50% 32px 0 32px;
        }

        img {
            display: none;
        }
    }
}