$primary: #FF6052;
$secondary: #37FABE;
$complement: #FFBEB3;

.services-container {

    .motd {
        text-align: center;
        padding: 20% 0;

        h1 {
            color: $primary;
        }
    }

    .services {
        padding: 32px;
        display: grid;
        grid-template: 50% 50% / auto auto;
        grid-gap: 32px;
        vertical-align: top;
        background: $primary;

        .service{
            padding:32px;
            color: #fff;

            h1 {
                padding: 16px 0;
            }

            p {
                font-family: 'Roboto Mono', monospace;
                font-size: 16px;
                line-height: 32px;
                padding: 16px 0;
            }
        }
    }

    .getStarted {
        padding: 128px 32px;
        text-align: center;
        background: #222;

        p {
            color: #fff;
            width: 64%;
            margin: 0 auto 32px auto;
            padding: 0 0 32px 0;
            border-bottom: 2px solid #fff;
        }

        input {
            padding: 8px 16px;
            border: none;
            border-radius: 4px 0px 0px 4px;
            width: 512px;
            max-width: 60%;
        }

        button {
            padding: 8px 16px;
            border: none;
            border-radius: 0px 4px 4px 0px;
            background: $primary;
            color: #fff;
        }

        #splitter {
            padding: 16px 0;
            color: #fff;
        }

        span {
            color: #fff;
            padding: 16px 0;
        }
    }
}

@media only screen and (max-width: 1280px) {
   
    .services-container{

        .services {
            display: block;
            padding: 0;
        }

        .getStarted {

            p {
                width: 90%;
            }
        }
    }
}