/*
PLEASE USE LIVE SASS COMPILER

PLEASE ADD THESE SETTINGS TO YOUR "settings.json"

"liveSassCompile.settings.generateMap": false,
"liveSassCompile.settings.formats": [
    {
        "format": "compressed",
        "extensionName": ".min.css",
        "savePath": null
    }
]

Those settings are to help save up on size of the website;
"liveSassCompile.settings.generateMap": false, dosnt save a map file for live sass compiler.
"liveSassCompile.settings.formats" is used with the "format" setting set to compressed to 'minify' the compiled css file.
*/

/* SASS COLORS */
$primary: #FF6052;
$secondary: #37FABE;
$complement: #FFBEB3;
/* SASS COLORS */

.store-container {
    img {
        position: absolute;
        top: 25%;
        right: 10%;
        width: 30%;
        z-index: -999;
    }
    .loginSeciton {
        padding: 10% 0 0 5%;
        margin: 32px 0 0 128px;
        width: 512px;
        border-radius: 0px 16px 16px 0px;
        h1 {
            color: $primary;
        }
        #logIn {
            padding: 16px 0px 0px 0px;
            input {
                display: block;
                width: 100%;
                margin: 0px 0px 32px 0px;
                padding: 4px;
                border: none;
                border-bottom: 2px solid $secondary;
                background: none;
            }
            button {
                padding: 8px 16px;
                margin: 0 16px 0 0;
                background: $primary;
                color: #fff;
                border: none;
            }
            #signUp {
                background: none;
                color: $secondary;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
}
.signupSection-closed {
    transform: scale(1, 1);
    display: none;
}
.signupSection-open {
    transform: scale(1, 1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    .backgroundBlur {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.4);
    }
    h1 {
        padding: 16px 0px;
    }
    #signUp {
        animation: open .4s forwards;
        position: absolute;
        top: 5%;
        right: 25%;
        bottom: 5%;
        left: 25%;
        padding: 5%;
        background: #fff;
        input {
            display: block;
            width: 100%;
            margin: 0px 0px 32px 0px;
            padding: 4px;
            border: none;
            border-bottom: 2px solid $secondary;
            background: none;
        }
        button {
            padding: 8px 16px;
            margin: 0 16px 0 0;
            background: $primary;
            color: #fff;
            border: none;
        }
        #cancel {
            background: none;
            color: $primary;
            font-size: 14px;
            cursor: pointer;
        }
        #userAgreement {
            display: inline-block;
            width: auto;
        }
    }
}

@keyframes open {
    0% {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}