$primary: #FF6052;
$secondary: #37FABE;
$complement: #FFBEB3;

.work-container {
    
    .motd {
        text-align: center;
        padding: 18% 0;
     
        h1 {
            color: $primary;
        }
    }
}