.appHeader {
	padding: 15px;
	background: #ff6052;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	width: 100%;
	max-width: 100%;
	position: relative;
}

.appHeader ul {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}

.appHeader li {
	display: flex;
	list-style: none;
}

.appHeader a {
	text-decoration: none;
	color: #fff;
	padding: 16px 64px;
}

.appHeader a:hover {
	transition: .2s ease;
}
.appHeader .storeButton {
	background: #ffbeb3;
	color: #ff6052;
	border-radius: 0.60rem;
}
.storeButton {
	font-weight: bold;
}
#store-btn:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 720px) {
	.appHeader a {
		padding: 16px;
	}
}

.btn::after {
	content: '';
	display: block;
	width: 0;
	height: 5px;
	background: #ffffff;
	transition: width .3s;
}

.btn:hover::after {
	width: 100%;
	transition: width .3s;
}

/* "GLOBAL" STYLES
------------------------------------------------------------------*/

a {
	text-decoration: none;
	color: #fff;
}
